<!doctype html>
<html lang="en">

</html>


<style>
	.custom-file-upload {
		border: rgb(0, 0, 0);
		display: inline-block;
		padding: 6px 12px;
		background-color: rgb(255, 66, 75);
		border-radius: 25px;
		cursor: pointer;
		margin: 15px;
	}

	.heightSet {
		max-height: 800px;
	}

	.solve-style {

		border: rgb(0, 0, 0);
		display: inline-block;
		padding: 6px 12px;
		background-color: rgb(66, 227, 255);
		border-radius: 25px;
		cursor: pointer;
		margin: 15px;
	}
</style>


<head>
	<title>Simple Photomath</title>



</head>

<body>


	<h2>Upload an image containing math expression</h2>

	<div>
		<div style="display: inline-block">

			<label for="file-upload" class="custom-file-upload">
				Upload/Capture
			</label>


			<form method="post" action="/" enctype="multipart/form-data">
				<dl>
					<p>
						<input id="file-upload" name="file" type="file" accept="image/png, image/jpg, image/jpeg"
							style="display: none;" onchange="loadFile(event)" capture="camera" required>
					</p>
				</dl>
				<p>
					<input class="solve-style" type="submit" value="Solve">
				</p>
			</form>






		</div>


	</div>

	{% if res %}
	<div>
		<h1>
			{{res}}
		</h1>
	</div>
	{% endif %}


	<div>
		<img id="output" class="heightSet" />
	</div>

</body>

<script>
	var loadFile = function (event) {
		var output = document.getElementById('output');		
		output.src = URL.createObjectURL(event.target.files[0]);
		output.onload = function () {
			URL.revokeObjectURL(output.src)
		}
	};

</script>